# Android
DEVICE_NAME=                       # ID эмулятора или серийный номер реального устройства (adb devices)
PLATFORM_VERSION=                  # версия Android 5.0+ (например 13.0)
APP_PATH=./apps/Android.SauceLabs.Mobile.Sample.app.apk

# iOS
IOS_DEVICE_NAME=                   # название симулятора (xcrun simctl list)
IOS_PLATFORM_VERSION=              # версия iOS 10.0+ (например 16.0)
IOS_APP_PATH=./apps/SauceLabs.app/iOS.Simulator.SauceLabs.Mobile.Sample.app.2.7.1.app